{% extends 'core/base.html' %}

{% block content %}

<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="navbar ">
        <a href="/"><img src="{% static 'assets/images/logo.svg' %}" alt="logo"></a>
        <ul>
            <li><a href="{% url 'dashboard' %}"><span class="material-icons">home</span> Home</a></li>
            <li><a href="/shop_cart"><span class="material-icons">add</span> Register</a></li>
            <li><a href="#"><span class="material-icons">account_circle</span> Profile</a></li>
            <li><a href="{% url 'logout' %}"><span class="material-icons">exit_to_app</span> Logout</a></li>
            <li><a href="#"><span class="material-icons">support</span> Support</a></li>
        </ul>
    </div>
     <div class="background-container">
        <h1>Looking For Worker</h1>
    </div>
<div class="top-container">
    <span>
        <h2>Mechanics</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="/shop/"><button class="smk">Shop</button></a>
    </span>
    <span>
       <h2>House builders</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="/cars"><button class="cars">Shop</button></a>
    </span>
    <span>
        <h2>Landry</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="materials/"><button class="mtr">Shop</button></a>

    </span>
    <span>
        <h2>Marketers</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="services/"><button class="svc">Visits</button></a>

    </span>
    <span>
        <h2>House Worker</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="/shop/"><button class="smk">Shop</button></a>
    </span>
    <span>
        <h2>Drivers</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="/cars"><button class="cars">Shop</button></a>
    </span>
    <span>
        <h2>Tailors</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="materials/"><button class="mtr">Shop</button></a>

    </span>
    <span>
        <h2>Shoe Maker</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="services/"><button class="svc">Visits</button></a>

    </span>


    <script src="{% static '/assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
<!---->
</div>
</body>
</html>
{% endblock %}
