.top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}

.top-container span {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.top-container span:hover {
    border: solid 2px green;
}

.top-container span button.smk {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 30px; /* Adjusted margin-top to move the button below the text */
    background-color: green;
    border-radius: 10px;
    border: none;
    transition: opacity 0.3s ease; /* Added transition for opacity */
}

.top-container span button.cars {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 30px; /* Adjusted margin-top for the 'cars' class */
    background-color: blue; /* You can customize the color for each class */
    border-radius: 10px;
    border: none;
    transition: opacity 0.3s ease; /* Added transition for opacity */
}

.top-container span button.mtr {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 30px; /* Adjusted margin-top for the 'mtr' class */
    background-color: red; /* You can customize the color for each class */
    border-radius: 10px;
    border: none;
    transition: opacity 0.3s ease; /* Added transition for opacity */
}

.top-container span button.svc {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 30px; /* Adjusted margin-top for the 'svc' class */
    background-color: purple; /* You can customize the color for each class */
    border-radius: 10px;
    border: none;
    transition: opacity 0.3s ease; /* Added transition for opacity */
}

.top-container span button:hover {
    opacity: 0.8; /* Adjust the opacity value as needed */
}

.top-container span .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}