{% extends 'core/base.html' %}

{% block content %}
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<body>

<div class="top-container">
       <div class="search-form">
        <form action="{% url 'cars_list' %}" method="get">
          <input type="text" class="search-input" name="car_make" placeholder="Car Make or car make">
        <button type="submit" class="search-button">Search</button>
        </form>
        </div>
    {% for cars, ranges, num_slides in all_cars %}
        <h2 class="category">{{ cars.0.0.car_make }} Flashsale</h2>
        <div class="container">
            <div class="row">
                {% for car in cars %}
                    <div class="col-md-3 mt-3">
                        <img src="{{ car.image.url }}" class="img" alt="{{ car.car_make }} - {{ car.car_brand }}">
                        <div class="desc">
                            <h5 class="car-title mt-2">{{ car.car_brand }}</h5>
                            <p class="car-text">{{ car.desc|slice:"0:53" }}..</p>
                            <h6 class="car-title mb-3">Price: {{ car.price }}</h6>
                            <a href="{{ car.image.url }}">
                                <button class="btn btn-success btn-sm cart">View</button>
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>
{% endblock %}
