{% extends 'core/base.html' %}

{% block content %}

<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="navbar ">
        <a href="/"><img src="{% static 'assets/images/logo.svg' %}" alt="logo"></a>
        <ul>
            <li><a href="{% url 'dashboard' %}"><span class="material-icons">home</span> Home</a></li>
            <li><a href="#"><span class="material-icons">account_circle</span> Profile</a></li>
            <li><a href="/upload"><span class="material-icons">upload</span> Upload</a></li>
            <li><a href="{% url 'logout' %}"><span class="material-icons">exit_to_app</span> Logout</a></li>
        </ul>
    </div>
     <div class="background-container">
        <h1>Looking For Car Or Want to Sell</h1>
    </div>
<div class="top-container">
    <span>
        <h2>Buy</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="cars_list/"><button class="smk">Shop</button></a>
    </span>
    <span>
        <h2>Sell</h2>
        <marquee behavior="scroll" direction="up" scrollamount="1">
            you can shop on your favorite supermarkets
        </marquee>
        <a href="upload/"><button class="cars">Shop</button></a>
    </span>
    <script src="{% static '/assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
<!---->
</div>
</body>
</html>
{% endblock %}
